<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}
   

    <!-- main header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-67 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" class="img-fluid my-image" title="My To-Do App">
                        </figure>
                
                <!-- left side div -->


                    <h3 class="color">Welcome to My To-Do App</h3>
                    <h1 class="color">{{errorMsg}}</h1>
                    <a href="/" ><button>Go Back</button></a>
                </div>
                <!-- right side div -->
                
               
                </div>
            </div>
</div>
        </div>
 
    <!-- footer code-->
  {{>footer}}
</body>
</html>