<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar}}
   

    <!-- main header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right align_items_center">
                        <figure>
                            <img src="images/shadow.png" class="img-fluid my-shadow-image" title="Welcome">
                        </figure>
                    </div>
                <!-- left side div -->

                <div class="col-md-6 col-12 main_header_left">


                    <p class="color">Welcome to my Profile</p>
                    <h1 class="color">I Am A <span class="text_clr"> Full Stack Developer </span></h1>
                    <p class="color" style="font-size:small">Here is another useful app <span class="text_clr">To-Do List Pro</span> which is a productivity app designed to streamline your tasks and boost your efficiency. With features like task prioritization, reminders, and syncing across devices, it simplifies task management. Tailored for busy professionals and students, it's your go-to tool for staying organized and on top of your daily responsibilities.</p>
                    <a href="https://uruj-fatima390.github.io/todoapp/" ><button>Check now</button></a>
                </div>
                <!-- right side div -->
                
               
                </div>
            </div>
</div>
        </div>
 
    <!-- footer code-->
  {{>footer}}
</body>
</html>